noda.plus {
    root * /var/www/noda.plus
    file_server
    encode gzip

    try_files {path} /index.html

    @static {
        path *.css *.js *.png *.jpg *.jpeg *.gif *.svg *.ico *.woff *.woff2
    }
    header @static Cache-Control "public, max-age=31536000"
}

www.noda.plus {
    redir https://noda.plus{uri} permanent
}
